<main>

  <div class="d-flex flex-row justify-content-center">
    <div class="col-12 m-5 d-flex justify-content-center table-responsive">
      <table class="table mx-5 table-striped">
        <thead>
        <tr class="table-dark">
          <th scope="col">Jour</th>
          <th scope="col">Ouverture Matin</th>
          <th scope="col">Fermeture Matin</th>
          <th scope="col">Ouverture Après-Midi</th>
          <th scope="col">Fermeture Après-Midi</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @if(openingHours$ | async; as horaires){
          @for(horaire of horaires; track horaire.id){
            <tr>
              <td>{{horaire.dayOfWeek}}</td>
              <td>{{horaire.morningOpening ?? 'Fermé'}}</td>
              <td>{{horaire.morningClosing ?? 'Fermé'}}</td>
              <td>{{horaire.afternoonOpening ?? 'Fermé'}}</td>
              <td>{{horaire.afternoonClosing ?? 'Fermé'}}</td>
              <td>
                <a href="#" class="btn btn-success m-1" [routerLink]="horaire.id.toString()">Modifier</a>
              </td>
            </tr>
          }
        }
        </tbody>
      </table>
    </div>
  </div>

</main>
