@if (isHomePageActive) {
  <header id="index-header">
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="height: 25vh; align-items: flex-start"
    >
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
          <img
            src="assets/ArcadiaLogo.png"
            style="height: 10vh; width: 10vh"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink=""
              >Accueil</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="animaux">Animaux</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="habitats">Habitats</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="activites">Activités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="philosophie">Philosophie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="auth">
                Connexion</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      style="height: 50vh"
      class="d-flex align-items-end justify-content-end mx-4 mb-3"
    >
      <p
        class="text-white fs-2 fw-lighter fst-italic d-flex justify-content-end align-items-center col-5 text-end"
      >
        Un zoo familial au coeur de la forêt de Brocéliande, depuis 1959
      </p>
    </div>
  </header>
} @else {
  @if (user$ | async; as user) {
    <header class="not-index-header">
      <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="align-items: flex-start; background-color: #06631d"
      >
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="admin">
            <img
              src="/assets/ArcadiaLogo.png"
              style="height: 10vh; width: 10vh"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="admin" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }"
                   aria-current="page"
                >Accueil</a
                >
              </li>

              @if (user.roles.includes('Admin')) {
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/zoo-management" routerLinkActive="active">Gestion du Parc</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="admin/employees" routerLinkActive="active">Gestion des Employés</a>
                </li>
              }

              @if (user.roles.includes('Employee')) {
                <li class="nav-item">
                  <a class="nav-link" routerLink="habitats" routerLinkActive="active">Menu Employés</a>
                </li>
              }

              @if (user.roles.includes('Vet')) {
                <li class="nav-item">
                  <a class="nav-link" routerLink="activites" routerLinkActive="active">Rapports Vétérinaires</a>
                </li>
              }
              <li class="nav-item">
                <a class="nav-link" routerLink="auth" (click)="onLogout()"
                >Déconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  } @else {
    <header class="not-index-header">
      <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="align-items: flex-start; background-color: #402905"
      >
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">
            <img
              src="/assets/ArcadiaLogo.png"
              style="height: 10vh; width: 10vh"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                   aria-current="page"
                >Accueil</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="animaux" routerLinkActive="active">Animaux</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="habitats" routerLinkActive="active">Habitats</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="activites" routerLinkActive="active">Activités</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="philosophie" routerLinkActive="active">Philosophie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="auth"
                >Connexion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  }
}
