#index-header {
  background-image: url("/assets/SansTitre-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 75vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
