<footer
  class="text-white d-flex flex-column"
  style="background-color: #402905; border-top: 1px solid black"
>
  <div class="d-flex flex-column flex-md-row py-4">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
      <img
        class="img-fluid d-block"
        src="assets/ArcadiaLogo.png"
        alt=""
        style="width: 15vh"
      />
    </div>
    <div class="col-md-3 mx-auto">
      <h4 class="text-center mb-3">Contact</h4>
      <p class="text-center">
        <span class="me-3">Adresse:</span><br> 666 rue de l'Enchanteur Merlin<br />
        35380 PAIMPONT
      </p>
      <p class="text-center">
        <span class="me-3">Nous Ecrire: </span> <a href="mailto:{{mail}}">Mail</a>
      </p>
      <p class="text-center">
        <span class="me-3">Tel.:</span> 01.23.45.67.89
      </p>
    </div>
    <div class="col-md-3 mx-auto text-center d-flex flex-column">
      <h4 class="text-center mb-3">Explorer</h4>
      <a class="m-2" [routerLink]="['/', 'animaux']">Animaux</a>
      <a class="m-2" [routerLink]="['/','habitats']">Habitats</a>
      <a class="m-2" [routerLink]="['/','activites']">Activités</a>
      <a class="m-2" [routerLink]="['/','philosophie']">Philosophie</a>
    </div>
    <div class="col-md-3">
      <h4 class="text-center mb-3">Réseaux Sociaux</h4>
      <div class="social-icons d-flex flex-column">
        <div
          class="d-flex flex-row justify-content-center align-items-center"
        >
          <a class="mx-3 fs-1 text-white col-1 text-center"
             title="Compte X"
             href="#"
          ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a
            class="mx-3 fs-1 text-white col-1 text-center"
            title="Page Instagram"
            href="#"
          ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <div
          class="d-flex flex-row justify-content-center align-items-center"
        >
          <a
            class="mx-3 fs-1 text-white col-1 text-center"
            title="Page Facebook"
            href="#"
          ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="mx-3 fs-1 text-white col-1 text-center"
            title="Whatsapp"
            href=""
          ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 bg-dark">
    <p class="text-white text-center">
      <span class="me-4">MENTIONS LEGALES</span>|
      <span class="ms-4">POLITIQUE DE CONFIDENTIALITÉ</span>
    </p>
  </div>
</footer>
