<main class="d-flex justify-content-center align-items-center">
  <div class="col-11 col-xl-8 d-flex flex-column justify-content-center align-self-center mb-5 custom-form">

    @if (animal$ | async; as animal) {
      <h1 class="fw-bold flex-wrap">{{ animal.name | uppercase }}</h1>
      <h6 class="fst-italic mb-3">{{ animal.speciesData.name }}</h6>
      <h6 class="fst-italic mb-3">Id : {{ animal.id }}</h6>
    } @else {
      <h1 class="fw-bold">Nouvel Animal</h1>
    }
    <form (ngSubmit)="submit()">

      <div class="mb-3">

        <label for="Name" class="form-label"
        >Nom</label
        >
        <input
          type="text"
          class="form-control"
          id="Name"
          [formControl]="Name"
          aria-describedby="nameHelp"
        />
      </div>

      @if (animal$ | async; as animal) {
        <div class="mb-3">
          <label>Genre:</label>
          <label class="mx-2">Mâle
            <input type="radio" value="true" name="gender" [formControl]="isMale" [checked]="animal.isMale">
          </label>
          <label class="mx-2">Femelle
            <input type="radio" value="false" name="gender" [checked]="!animal.isMale">
          </label>
        </div>
      } @else {
        <div class="mb-3">
          <label>Genre:</label>
          <label class="mx-2">Mâle
            <input type="radio" name="gender" [formControl]="isMale">
          </label>
          <label class="mx-2">Femelle
            <input type="radio" name="gender">
          </label>
        </div>
      }

      <div class="d-flex flex-column form-group">
        <label>Espèce
          <select [formControl]="idSpecies">
            @if (speciess$ | async; as species) {
              @for (spe of species; track spe.id) {
                <option [value]="spe.id">{{ spe.name }}</option>
              }
            }
          </select>
        </label>
      </div>

      <div class="d-flex flex-column my-4">
        <label>Images: </label>

        <div class="my-3">
          <div (click)="openFile()" class="border border-1 border-dark-subtle rounded" style="height: 4rem;">
            <p class="fs-1 text-dark-emphasis text-center">+</p>
            <input #fileinput (change)="addFiles($event)" type="file" multiple id="Files" style="visibility: collapse"
                   accept="image/*"/>
          </div>
          <div class="files">
            @for (file of selectedFiles; track $index) {
              <div
                class="d-flex flex-row border border-1 border-dark-subtle m-2 justify-content-between"
              >
                <span class="fs-5 ps-3">{{ file.name }}</span>
                <button class="btn me-3" type="button" (click)="removeFile($index)">╳</button>
              </div>
            }
          </div>
        </div>

        <div class="d-flex flex-row justify-content-around flex-wrap">

          @if (animal$ | async; as animal) {
            @for (pic of animal.pics; track pic.id) {
              <div class="card my-4" style="width: 18rem;">
                <img [src]="imageApiUrl + pic.miniSlug" class="card-img-top overflow-hidden">
                <div class="card-body d-flex align-items-end justify-content-center">
                  <button type="button" href="#" class="btn btn-danger"
                          (click)="deleteImage(pic.id)">{{ deletedImagesArray.includes(pic.id) ? 'Annuler' : 'Supprimer' }}
                  </button>
                </div>
              </div>
            }
          }
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-success mx-1">Enregistrer</button>
      </div>
    </form>
  </div>
</main>
