<main>
  <div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-outline-success" routerLink="register">Créer un nouvel employé</a>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h5>Filtrer par rôle:</h5>
    <fieldset class="d-flex flex-row">
      @if (roles$ | async; as roles) {
        @for (role of roles; track role.id) {
          <div class="mx-2">
            <label [for]="role.name">{{ role.name }}</label>
            <input class="mx-1" type="checkbox" [id]="role.name" (change)="addOrRemoveFilters($event, role.name)" checked>
          </div>
        }
      }
    </fieldset>
  </div>

  @if (employees$ | async; as users) {

    <div class="d-flex flex-row justify-content-center">
      <div class="col-12 m-5 d-flex justify-content-center table-responsive">
        <table class="table mx-5">
          <thead>
          <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
            @for (user of users | employeeFilter : filters; track user.id) {
              <tr [class]="roleAsBg(user.roles)">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                  @for (role of user.roles; track role) {
                    <span class="card-text">{{ role }}</span>
                    @if (!$last) {
                      <span>, </span>
                    }
                  }</td>
                <td>
                  <a class="btn btn-success m-1" [routerLink]="getPath(user.id)">Modifier</a>
                  <a class="btn btn-danger m-1" (click)="deleteUSer(user.id)">Supprimer</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

  } @else {
    <app-loading-spinner></app-loading-spinner>
  }

</main>

