<main class="d-flex flex-column align-items-center justify-content-center" >
  <div class="d-flex flex-column align-items-center justify-content-center pb-5 custom-form col-4 mb-5">
    <h1 class="roboto-medium text-center mb-4">
      Changement du mot de passe
    </h1>

    <form (ngSubmit)="submit()">
      <div
        class="mb-3 d-flex flex-column justify-content-center align-items-center"
      >
        <label for="Email1" class="form-label"
        >Identifiant (email)</label
        >
        <input
          name="email"
          type="email"
          class="form-control"
          id="Email1"
          [formControl]="Email"
          required
        />
      </div>
      <div
        class="mb-3 d-flex flex-column justify-content-center align-items-center"
      >
        <label for="OldPassword" class="form-label">Mot de passe actuel</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="OldPassword"
          [formControl]="OldPassword"
          required
        />
      </div>
      <div
        class="mb-3 d-flex flex-column justify-content-center align-items-center"
      >
        <label for="randomPwd" class="form-label">Générateur de mots de passe aléatoire et sécurisé</label>
        <div class="d-flex flex-row">
          <input
            type="text"
            class="form-control"
            id="randomPwd"
            [formControl]="RandomPassword"
            required
          />
          <button class="btn btn-outline-success ms-1" type="button" (click)="generatePassword()">↻</button>
        </div>
      </div>
      <div
        class="mb-3 d-flex flex-column justify-content-center align-items-center"
      >
        <label for="NewPassword" class="form-label">Nouveau mot de passe</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="NewPassword"
          [formControl]="NewPassword"
          required
        />
      </div>
      <div
        class="mb-3 d-flex flex-column justify-content-center align-items-center"
      >
        <label for="NewPasswordCheck" class="form-label">Confirmation</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="NewPasswordCheck"
          [formControl]="NewPasswordCheck"
          required
        />
      </div>
      <div
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <button type="submit" class="btn btn-success">Changer mon mot de passe</button>
      </div>
    </form>
    <p class="small fst-italic mt-3">Mot de passe oublié? Contactez votre admnistrateur!</p>
  </div>
</main>
