@if(habitats$ | async; as habitats){

<main>
  <h1 class="text-center m-5 neucha-regular">Tous nos habitats</h1>

  <section class="d-flex flex-row flex-wrap my-5">

    @for (habitat of habitats; track habitat.id){
      <div
        class="col-4 col-sm-3 mx-auto d-flex flex-column justify-content-center align-items-center clickable-div"
      >
        <div
          class="circle-container"
          [routerLink]="[habitat.id]"
        >
          <img [src]="'https://localhost:7015/' + habitat.pics[0].slug" class="img-fluid" alt="" />
        </div>
        <h3 class="neucha-regular">{{ habitat.name | titlecase }}</h3>
      </div>
    }


  </section>
</main>
}
@else {
  <p>Ya un soucis aves les habitats chef!</p>
}

<!--TODO:-->
<!--2 pipes:-->
<!-- - un pour limiter le nombre de caractères dans le randomAnimal-->
<!-- - un pour filtrer les animaux en fonction d'un Observable<Habitat[]> qui filtrera les animaux en fonction de leurs habitats. Par défaut tout sera coché-->
<!--puis décocher un habitat retirera un habitat. Faire un bouton pour cocher tout et décocher tout d'un coup-->
