<main class="d-flex flex-column align-items-center justify-content-center mb-5" >
  <div class="d-flex flex-column align-items-center justify-content-center pb-5 custom-form col-10 col-xl-8 bg-success-subtle">
    <h1 class="neucha-regular text-center mb-4">
      Nous contacter
    </h1>

    <form (ngSubmit)="submit()" class=" w-100">
      <div
        class="mb-3 d-flex flex-column"
      >
        <label for="Email1" class="form-label"
        >Votre Adresse Email</label
        >
        <input
          name="email"
          type="email"
          class="form-control"
          id="Email1"
          [formControl]="email"
        />
        <p style="font-size: smaller; font-style: italic;">Nous ne partageons pas vos données</p>
      </div>
      <div
        class="mb-3 d-flex flex-column"
      >
        <label for="body" class="form-label">Dites-nous tout!</label>
        <textarea
          type="text"
          class="form-control"
          id="body"
          [formControl]="body"
          rows="10"></textarea>
      </div>
      <div
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <button type="submit" class="btn btn-success">Envoyer</button>
      </div>
    </form>
  </div>
</main>
