<main class="d-flex flex-column align-items-center justify-content-center">
  <h1 class="neucha-regular text-center my-5">Notre Philosophie</h1>

  <section
    class="col-10 justify-content-center align-items-center d-flex flex-column flex-xl-row"
  >
    <article
      class="d-flex flex-column align-items-center justify-content-center m-3 col-10 col-xl-4"
    >
      <img
        src="assets/logo-energy.png"
        alt=""
        style="max-width: 5vw"
        class="m-3 secondary-logo"
      />
      <h3 class="neucha-regular text-center">Indépendance énergétique</h3>
      <p class="text-center">
        Au Parc Zoologique Arcadia, nous sommes fiers de dépasser les exigences de la norme ISO 50001 en matière de
        gestion responsable de l'énergie. Non seulement nous respectons ces standards, mais nous avons atteint
        l’indépendance énergétique
        totale grâce à nos installations de panneaux solaires et d’éoliennes. Cette autonomie nous permet de réduire
        notre empreinte carbone de manière significative, tout en offrant un habitat respectueux de l’environnement à
        nos animaux. Chaque jour, nous prouvons que la transition énergétique est non seulement possible, mais qu’elle
        est aussi un devoir moral envers la planète.
      </p>
    </article>
    <article class="d-flex flex-column align-items-center m-3 col-10 col-xl-4">
      <img
        src="assets/logo-animals.png"
        alt=""
        style="max-width: 5vw"
        class="m-3 secondary-logo"
      />
      <h3 class="neucha-regular">Bien-être animal</h3>
      <p class="text-center">
        Le bien-être de nos animaux est au cœur de notre engagement quotidien. Nous mettons tout en œuvre
        pour leur offrir un environnement naturel, enrichissant et adapté à leurs besoins spécifiques. Chaque enclos est
        conçu pour favoriser leur épanouissement, avec des espaces spacieux, des activités stimulantes et des soins
        prodigués par des experts passionnés. Nous croyons fermement que des animaux heureux sont le reflet d'un
        écosystème sain et respectueux. C’est pourquoi nous nous dévouons, jour après jour, à créer un lieu où nos
        pensionnaires peuvent s’épanouir en toute sérénité, tout en sensibilisant nos visiteurs à la protection de la
        faune.
      </p>
    </article>
    <article class="d-flex flex-column align-items-center m-3 col-10 col-xl-4">
      <img
        src="assets/logo-ecology.png"
        alt=""
        style="max-width: 5vw"
        class="m-3 secondary-logo"
      />
      <h3 class="neucha-regular">Respect de la Nature</h3>
      <p class="text-center">
        Au Parc Zoologique Arcadia, nous faisons bien plus que protéger les animaux : notre parc est un véritable
        plaidoyer pour la nature. Chaque visite est une invitation à renouer avec l’environnement, à comprendre sa fragilité
        et à s’engager à le préserver. Ensemble, nous formons un pacte avec nos visiteurs : respecter la propreté du
        parc, adopter des gestes écoresponsables et contribuer à la protection de notre planète. Nous croyons que la
        conservation commence par des actions simples, mais essentielles. En visitant Arcadia, chacun devient acteur du
        changement, pour un monde plus respectueux et en harmonie avec la nature.
      </p>
    </article>
  </section>

  <div
    class="separator d-flex flex-md-row justify-content-center align-items-center m-5"
  >
    <img src="assets/left_leaf_separator2.png" class="img-fluid"/>
    <img src="assets/right_leaf_separator2.png" class="img-fluid" alt=""/>
  </div>

  <section class="d-flex flex-column align-items-center justify-content-center">
    <h3 class="neucha-regular text-center">Quelques chiffres Clés</h3>
    <div
      class="d-flex flex-column flex-xl-row col-10 justify-content-center align-items-center"
    >
      <article
        class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
      >
        <h3 class="neucha-regular">18</h3>
        <p class="text-center">
          Nous sommes fiers d'annoncer que l'année passée, 18 naissances ont eu lieu au sein du zoo Arcadia. Ces
          nouveaux arrivants témoignent de la qualité des soins que nous offrons à nos animaux et de notre engagement
          pour leur bien-être. Chaque naissance est un véritable succès pour la conservation des espèces, et nous sommes
          ravis de partager cette joie avec nos visiteurs.
        </p>
      </article>

      <article
        class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
      >
        <h3 class="neucha-regular">450 000</h3>
        <p class="text-center">
          Chaque année nous accueillons plus de 450 000 visiteurs au zoo Arcadia. Ce chiffre témoigne de
          l'intérêt croissant pour notre démarche de conservation et de sensibilisation à la protection de la nature.
          Chaque visiteur contribue à soutenir nos efforts en faveur du bien-être animal et de la préservation de la
          biodiversité. Merci de faire partie de cette belle aventure !
        </p>
      </article>

      <article
        class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
      >
        <h3 class="neucha-regular">3h</h3>
        <p class="text-center">
          Avec ses 3 heures de visite, le zoo Arcadia offre une immersion totale au cœur de la biodiversité. Chaque
          parcours est pensé pour que petits et grands puissent découvrir notre faune tout en prenant le
          temps d’apprécier les détails de chaque enclos. Entre apprentissage et moments d’émerveillement,
          ces 3 heures sont une invitation à explorer et comprendre la nature.
        </p>
      </article>
    </div>
  </section>

  <div
    class="separator d-flex flex-md-row justify-content-center align-items-center m-5"
  >
    <img src="assets/left_leaf_separator2.png" class="img-fluid"/>
    <img src="assets/right_leaf_separator2.png" class="img-fluid" alt=""/>
  </div>

  <section class="col-10 m-5">
    <img
      src="assets/jose.jpg"
      class="img-fluid mx-4"
      style="max-width: 10vw; float: left"
      alt=""
    />
    <h3 class="neucha-regular">José, Directeur du Zoo</h3>
    <p class="">
      José, fondateur du zoo Arcadia, a toujours été fasciné par les animaux et la nature. Dès son plus jeune âge, il
      passait des heures à observer la faune près de chez lui, développant une passion pour la biodiversité. Après des
      études en biologie et conservation de la nature, il a voyagé à travers le monde pour travailler dans des réserves
      naturelles et des projets de protection d’espèces menacées. Fort de ces expériences, il a décidé de créer un lieu
      unique : un zoo dédié à la préservation de la faune, à l’éducation et à la sensibilisation du public. En fondant
      Arcadia, José a voulu offrir un refuge pour des espèces en danger, tout en créant un espace où les visiteurs
      pourraient mieux comprendre l’importance de protéger notre planète. Aujourd'hui, il continue à s'impliquer dans
      chaque aspect du parc, en restant fidèle à sa vision d'un monde en harmonie avec la nature.
    </p>
  </section>
</main>
