<main class="d-flex flex-column align-items-center justify-content-center">
  <h1 class="neucha-regular text-center my-5">Notre Philosophie</h1>

  <section
    class="col-10 justify-content-center align-items-center d-flex flex-column flex-xl-row"
  >
    <article
      class="d-flex flex-column align-items-center justify-content-center m-3 col-10 col-xl-4"
    >
      <img
        src="assets/logo-energy.png"
        alt=""
        style="max-width: 5vw"
        class="m-3 secondary-logo"
      />
      <h3 class="neucha-regular text-center">Indépendance énergétique</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        labore eum aliquam sit, doloremque pariatur placeat culpa totam quod
        animi similique excepturi non fuga officia incidunt repudiandae ut
        itaque eligendi! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Itaque non officiis quae eaque illum, laborum ratione neque
        atque corrupti ex beatae illo hic fugiat perferendis? Inventore sit
        molestias officia soluta? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Porro eveniet ducimus ab error voluptatum
        sapiente, consequatur in modi nesciunt voluptatem. Architecto
        blanditiis quibusdam excepturi debitis nulla facilis minus iure.
        Nobis. norme ISO 50001
      </p>
    </article>
    <article
      class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
    >
      <img
        src="assets/logo-animals.png"
        alt=""
        style="max-width: 5vw"
        class="m-3 secondary-logo"
      />
      <h3 class="neucha-regular">Bien-être animal</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        labore eum aliquam sit, doloremque pariatur placeat culpa totam quod
        animi similique excepturi non fuga officia incidunt repudiandae ut
        itaque eligendi! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Itaque non officiis quae eaque illum, laborum ratione neque
        atque corrupti ex beatae illo hic fugiat perferendis? Inventore sit
        molestias officia soluta? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Porro eveniet ducimus ab error voluptatum
        sapiente, consequatur in modi nesciunt voluptatem. Architecto
        blanditiis quibusdam excepturi debitis nulla facilis minus iure.
        Nobis.
      </p>
    </article>
    <article
      class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
    >
      <img
        src="assets/logo-ecology.png"
        alt=""
        style="max-width: 5vw"
        class="m-3 secondary-logo"
      />
      <h3 class="neucha-regular">Respect de la Nature</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        labore eum aliquam sit, doloremque pariatur placeat culpa totam quod
        animi similique excepturi non fuga officia incidunt repudiandae ut
        itaque eligendi! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Itaque non officiis quae eaque illum, laborum ratione neque
        atque corrupti ex beatae illo hic fugiat perferendis? Inventore sit
        molestias officia soluta? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Porro eveniet ducimus ab error voluptatum
        sapiente, consequatur in modi nesciunt voluptatem. Architecto
        blanditiis quibusdam excepturi debitis nulla facilis minus iure.
        Nobis.
      </p>
    </article>
  </section>

  <div
    class="separator d-flex flex-md-row justify-content-center align-items-center m-5"
  >
    <img src="assets/left_leaf_separator2.png" class="img-fluid" />
    <img src="assets/right_leaf_separator2.png" class="img-fluid" alt="" />
  </div>

  <section
    class="d-flex flex-column align-items-center justify-content-center"
  >
    <h3 class="neucha-regular text-center">Quelques chiffres Clés</h3>
    <div
      class="d-flex flex-column flex-xl-row col-10 justify-content-center align-items-center"
    >
      <article
        class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
      >
        <h3 class="neucha-regular">89</h3>
        <p class="text-center">
          C'est le nombre de naissances dans le zoo depuis Lorem ipsum dolor
          sit amet, consectetur adipisicing elit. Porro provident minima
          nulla aperiam earum soluta, possimus libero! Veniam quibusdam
          aperiam cumque praesentium maiores, non eligendi.
        </p>
      </article>

      <article
        class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
      >
        <h3 class="neucha-regular">700 000</h3>
        <p class="text-center">
          Nombre de visiteurs annuels Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Quo quod animi tenetur, tempora
          ipsum sequi facilis omnis deleniti sed. Sit id laudantium fuga
          architecto necessitatibus est! Enim maxime sint doloribus!
        </p>
      </article>

      <article
        class="d-flex flex-column align-items-center m-3 col-10 col-xl-4"
      >
        <h3 class="neucha-regular">un autre chiffre</h3>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero et
          qui doloribus consequatur deserunt laborum. Beatae iusto ipsa,
          possimus voluptas ea corporis aperiam voluptatum cupiditate
          impedit dolor praesentium, eligendi hic!
        </p>
      </article>
    </div>
  </section>

  <div
    class="separator d-flex flex-md-row justify-content-center align-items-center m-5"
  >
    <img src="assets/left_leaf_separator2.png" class="img-fluid" />
    <img src="assets/right_leaf_separator2.png" class="img-fluid" alt="" />
  </div>

  <section class="col-10 m-5">
    <img
      src="assets/jose.jpg"
      class="img-fluid mx-4"
      style="max-width: 10vw; float: left"
      alt=""
    />
    <h3 class="neucha-regular">José, Directeur du Zoo</h3>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum a eaque
      quod molestiae cum illum maiores vel laudantium nostrum laboriosam.
      Iure eveniet fuga laboriosam excepturi cupiditate placeat quibusdam
      ipsam animi? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Tenetur ea nisi, aspernatur id eaque error recusandae eligendi
      corrupti quia earum officia molestias similique quibusdam veritatis
      delectus a excepturi, laboriosam asperiores? Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Placeat deleniti soluta ratione
      nemo nobis cupiditate aut, cum sit necessitatibus quas quisquam atque
      voluptates culpa odio, ad dolor veniam doloremque iure! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Officia veritatis,
      assumenda saepe exercitationem repellat consequuntur, totam voluptas
      iste nostrum aliquid ad beatae quas ratione deserunt dolor fuga
      perspiciatis. Eaque, impedit! Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Sit maiores doloribus sunt ab consectetur sint
      necessitatibus at quasi mollitia laboriosam laborum, illum ipsa
      ducimus totam, nemo, hic quo eaque numquam? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Nihil veritatis eum ut nesciunt illo
      dolor qui, magnam quidem dolorem repudiandae similique harum hic
      ducimus error laboriosam ipsa laborum deleniti labore? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Debitis fuga laudantium
      dignissimos odio odit voluptatibus, incidunt cumque consequuntur magni
      exercitationem sapiente maxime? Velit quia veritatis dicta optio
      blanditiis, ea dolor! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Culpa hic voluptatibus iure qui dolorem dolores
      exercitationem debitis at fuga, eligendi nemo dolorum ad voluptatem,
      officia repellat dolore quas. Distinctio, nam!
    </p>
  </section>
</main>
