<main>
  <h1 class="text-center">Gestion des services</h1>
  <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <a class="btn btn-outline-success m-2 m-lg-5" routerLink="new">Créer un nouveau service</a>
  </div>

  @if (services$ | async; as services) {

    <div class="d-flex flex-row justify-content-center">
      <div class="col-12 m-5 d-flex justify-content-center table-responsive">
        <table class="table mx-5 table-striped">
          <thead>
          <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Tarif Standard</th>
            <th scope="col">Tarif Enfant</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
            @for (service of services; track service.id) {
              <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.fullPrice === null ? '-' : service.fullPrice === 0 ? 'Gratuit' : service.fullPrice + '€'}}</td>
                <td>{{ service.childPrice === null ? '-' : service.childPrice === 0 ? 'Gratuit' : service.childPrice + '€'}}<td>
                  <a href="#" class="btn btn-success m-1" [routerLink]="getPath(service.id)">Modifier</a>
                  <a href="#" class="btn btn-danger m-1">Supprimer</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

  } @else {
    <app-loading-spinner></app-loading-spinner>
  }

</main>

