<main class="d-flex justify-content-center align-items-center">
  <div class="col-11 col-xl-8 d-flex flex-column justify-content-center align-self-center mb-5 custom-form">

    @if (service$ | async; as service) {
      <h1 class="fw-bold flex-wrap">{{ service.name | uppercase }}</h1>
      <h6 class="fst-italic mb-3">Id : {{ service.id }}</h6>
    } @else {
      <h1 class="fw-bold">Nouveau Service</h1>
    }
    <form (ngSubmit)="submit()">

      <div class="mb-3">

        <label for="Name" class="form-label fst-italic fw-bold"
        >Nom</label
        >
        <input
          type="text"
          class="form-control"
          id="Name"
          [formControl]="Name"
          aria-describedby="nameHelp"
        />

        <div class="d-flex flex-column my-3">
          <div>
            <label for="FullPrice" class="form-label fst-italic fw-bold">Plein Tarif <span class="fw-light small">(Si gratuit, noter 0, si non concerné, cocher la case ci-dessous)</span></label>
            <input id="FullPrice" type="number" class="form-control" min="0" step="0.1"[formControl]="FullPrice"
                   aria-describedby="Plein Tarif">
          </div>
          <div class="d-flex flex-row">
            <label class="form-label fst-italic fw-bold" for="isFullPriceNull">Non concerné
            <input type="checkbox" id="isFullPriceNull" (change)="nullifyPrice('FullPrice', $event)">
            </label>
          </div>
        </div>

        <div class="d-flex flex-column my-3">
          <div>
            <label for="ChildPrice" class="form-label fst-italic fw-bold">Tarif Enfant (-12 ans) <span class="fw-light small">(Si gratuit, noter 0, si non concerné, cocher la case ci-dessous)</span></label>
            <input id="ChildPrice" type="number" class="form-control" min="0" step="0.1" [formControl]="ChildPrice"
                   aria-describedby="Plein Tarif">
          </div>
          <div class="d-flex flex-row">
            <label class="form-label fst-italic fw-bold" for="isChildPriceNull">Non concerné
              <input type="checkbox" id="isChildPriceNull" (change)="nullifyPrice('ChildPrice', $event)">
            </label>
          </div>
        </div>

        <label for="Description" class="form-label fst-italic fw-bold">Description</label>
        <textarea rows="10" class="form-control" id="Description" [formControl]="Description"
                  aria-describedby="DescriptionHelp">
        </textarea>

      </div>

      <div class="d-flex flex-column my-4">
        <label>Images: </label>

        <div class="my-3">
          <div (click)="openFile()" class="border border-1 border-dark-subtle rounded" style="height: 4rem;">
            <p class="fs-1 text-dark-emphasis text-center"
               [title]="id ? 'Modifier l\'illustration' : 'Ajouter'">{{ id ? "🗘" : "+" }}</p>
            <input #fileinput (change)="addFiles($event)" type="file" id="Files" style="visibility: collapse"
                   accept="image/*"/>
          </div>
          <div class="files">
            @for (file of selectedFiles; track $index) {
              <div
                class="d-flex flex-row border border-1 border-dark-subtle m-2 justify-content-between"
              >
                <span class="fs-5 ps-3">{{ file.name }}</span>
                <button class="btn me-3" type="button" (click)="removeFile($index)">╳</button>
              </div>
            }
          </div>
        </div>

        <div class="d-flex flex-row justify-content-around flex-wrap">

          @if (service$ | async; as service) {
            <div class="card my-4" style="width: 18rem;">
              <img [src]="'https://localhost:7015/' + service.pic" class="card-img-top overflow-hidden">
              <div class="card-body d-flex align-items-end justify-content-center">
                <button type="button" href="#" class="btn btn-danger"
                        (click)="deleteImage(service.pic)">{{ deletedImageStr !== null ? 'Annuler' : 'Supprimer' }}
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-success mx-1">Enregistrer</button>
      </div>
    </form>
  </div>
</main>
