@if (animal !== null){
<main>
  <section>
    <h1 class="neucha-regular text-center m-5">{{ animal.name }}</h1>

    <article
      class="d-flex flex-column flex-xl-row justify-content-center align-items-center"
    >
      <div class="col-10 col-xl-5 p-3">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>

          </div>
          <div class="carousel-inner">

<!--            @if (animal !== null) {-->
<!--              @for (pic of animal.pics; track pic.id; ) {-->
<!--                <div class="carousel-item">-->
<!--                  <img [src]="'https://localhost:7015/' + pic.slug" class="d-block" alt="..."/>-->
<!--                </div>-->
<!--              }-->
<!--            }-->



                        <div class="carousel-item active">
                          <img
                            [src]="'https://localhost:7015/' + animal.pics[0].slug"
                            class="d-block"
                            alt="..."
                          />
                        </div>
                        <div class="carousel-item">
                          <img
                            [src]="'https://localhost:7015/' + animal.pics[0].slug"
                            class="d-block"
                            alt="..."
                          />
                      </div>

          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-10 col-xl-5 p-3">


          <h2>{{ animal.speciesData.name }}</h2>
          <h4>{{ animal.speciesData.scientificName }}</h4>
          <p>{{ animal.speciesData.description }}</p>
          <p><strong>Habitat</strong> :
            @for (habitat of animal.speciesData.habitats; track habitat.id; ) {
              <span>{{ habitat.name }}, </span>
            }
          </p>
          <p><strong>Régime Alimentaire</strong> : {{ animal.speciesData.diet.name }}</p>
          <p><strong>Sexe</strong> : {{ animal.isMale ? 'Mâle' : 'Femelle' }}</p>
          <p><strong>Taille</strong> : jusqu'à {{ animal.speciesData.maleMaxSize + animal.speciesData.sizeUnit.abbr }}
          </p>
          <p><strong>Poids</strong> :
            jusqu'à {{ animal.speciesData.maleMaxWeight + animal.speciesData.weightUnit.abbr }}</p>
          <p><strong>Esperance de vie</strong> : {{ animal.speciesData.lifespan }} ans</p>
          <p>
            <strong
            >Etat de santé selon le dernier passage du vétérinaire</strong
            >
            : {{ animal.healthData.state }}
          </p>


      </div>
    </article>
  </section>
</main>
}
@else{
  <p>Problème lors de la récupération du Zanimo</p>
}
