#index-header {
  background-image: url("/assets/SansTitre-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 75vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

#last-homepage-article {
  margin-top: 5vh;
  margin-bottom: 0;
  background-image: url("/assets/starbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#otter-separator {
  height: 45vh;
  background-image: url("/assets/otters.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 5vh;
  margin-bottom: 15vh;
}
